/* Override Sidebar Background */
.bg-gradient-primary {
    background-color: #D1396C;
    background-image: linear-gradient(180deg, #D1396C 10%, #C03362 100%);
    background-size: cover;
}

/* Override Buttons */
.btn-primary {
    background-color: #D1396C;
    border-color: #D1396C;
}

.btn-primary:hover {
    background-color: #b02a55;
    border-color: #b02a55;
}

/* Override Text & Links */
.text-primary {
    color: #D1396C !important;
}

a {
    color: #D1396C;
}

a:hover {
    color: #b02a55;
}

/* Override Dashboard Cards (Left Border) */
.border-left-primary {
    border-left: 0.25rem solid #D1396C !important;
}

/* Pagination Active State */
.page-item.active .page-link {
    background-color: #D1396C;
    border-color: #D1396C;
}